body {
  background-color: #fafafa !important;
}

.skipa-sidebar {
  background-color: #00a3da !important;
  font-family: 'Mukta', sans-serif !important;
}

.skipa-sidebar a {
  color: white !important;
}

#container {
  padding: 20px !important;
  margin-right: 17% !important;
}

.ui.blue.button, .ui.blue.buttons .button  {
  background-color: #00a3da !important;
}